@page
@model Galerie_Arta_Web.Pages.Tablouri.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tablou</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tablou.Denumire)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tablou.Denumire)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tablou.Data_realizare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tablou.Data_realizare)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tablou.Dimensiune)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tablou.Dimensiune)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tablou.Pret)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tablou.Pret)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tablou.Descriere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tablou.Descriere)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tablou.Imagine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tablou.Imagine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tablou.Artist)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tablou.Artist.Nume_Complet)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Tablou?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
